body {
 background-image: url("https://i.pinimg.com/736x/69/dd/c3/69ddc3e613a91cc54292e06b616720b3.jpg");
  background-color: #666666;
  background-repeat: repeat;
  background-attachment: fixed;
}
#box {
  top: 9em;
  margin: auto;
  position: fix;
  border-radius: 10px;
  height: 100px;
  width: 400px;
}
#heading {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  color: snow;
  font-family: 'hanging letters';
}  
#choosebib {
  font-family: "Open Sans";
  margin-top: 2em;
  margin-left: 2.6em;
  margin-right: 3em;
  text-align: center;
  color: #00000;
  background-color: rgb(250, 248, 246);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: larger;
  transition: 0.1s linear;
}
button:hover {
  background-color: rgb(248, 252, 255);
  box-shadow: 0px 2px 4px 1px rgb(230, 152, 86);
}
